<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASP.NET MVC  and Vue.js Integration</title>

    <link href="~/vuejs/feature1.js" rel=preload as=script>
    <link href="~/vuejs/feature2.js" rel=preload as=script>
    @*<link href="~/vuejs/js/chunk-vendors.js" rel=preload as=script>*@
</head>
<body>
    <h1>ASP.NET MVC  and Vue.js Integration</h1>

    <noscript><strong>We're sorry but vuejs_src doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>

    <div id=f1App></div>
    <div id=f2App></div>

    @*<script src="~/vuejs/js/chunk-vendors.js"></script>*@
    <script src="~/vuejs/feature1.js"></script>
    <script src="~/vuejs/feature2.js"></script>

</body>
</html>
